<a href="https://colab.research.google.com/github/tcoliveira/PythonFundamentos/blob/master/DSA_Python_Cap02_Exercicios_novo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

## Exercícios Cap02

In [1]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
lista = [1,2,3,4,5,6,7,8,9,10]
print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
lista1 = ['a','b','c','d','e']
print(lista1)

['a', 'b', 'c', 'd', 'e']

In [5]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
a = 'Hello'
b = 'World'
c=a+b
print(c)

HelloWorld

In [6]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
tp = (1, 2, 2, 3, 4, 4, 4, 5)
tp.count(4)

3

In [8]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela
dc = {}
print(dc)

{}

In [11]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
dc1 = {'1':'a','2':'b','3':'c'}
print(dc1)
type(dc1)

{'1': 'a', '2': 'b', '3': 'c'}

dict

In [13]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
dc1['4'] = 'd'
print(dc1)

{'1': 'a', '2': 'b', '3': 'c', '4': 'd'}

In [20]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.
dc2 = {'n1': '1', 'n2':[1,2],'n3':'3'}
print(dc2)
type(dc2.values())

{'n1': '1', 'n2': [1, 2], 'n3': '3'}

dict_values

In [22]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.
ls3 = ['a', (2,3),{'a':1,'b':2}, 2.3]
print(ls3)

['a', (2, 3), {'a': 1, 'b': 2}, 2.3]

In [38]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
##print(ls4[1] + ' ')
ls4 = list(map(lambda i:i, frase)) 
print('posicao 1 '+ls4[0] + ' '+'posicao 18 '+ ls4[17])

posicao 1 C posicao 18 s

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>